name: Release
on:
  schedule:
    - cron: "42 8 * * 1-5"
  workflow_dispatch:

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          fetch-depth: 0
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v4
        with:
          github-token: ${{ secrets.COMMAND_BOT_PAT }}
          skip-git-pull: "true"
          output-file: 'false'
          skip-version-file: false
          skip-commit: true
